{% extends 'base.html.twig' %}

{% block title %}Hello SoapController!{% endblock %}

{% block body %}
    <form action="http://localhost/billetera_movil/public/index.php/soapclient" method="post">
        <input type="hidden" name="test0" value="04">
        <input type="submit">
    </form>
{% endblock %}
